:root {
  --border-color: #ddd;
  --movie-genreCrim-color: crimson;
  --movie-genreAdventure-color: green;
  --movie-genreDrama-color: purple;
  --movie-genreRomance-color: deeppink;
  --movie-genreAnimation-color: dodgerblue;
  --movie-genreComedy-color: goldenrod;
  --movie-genreAction-color: orangered;
  --movie-genreFantasy-color: violet;
  --movie-genreFamily-color: olive;
  --movie-genreThriller-color: #800020;
  --movie-genreHorror-color: darkmagenta;
  --movie-genreMystery-color: navy;
}

@font-face {
  font-family: "MBC1961M";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961M.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

/* 장르가 들어갈 ul태그입니다. */
ul {
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
  line-height: 1.6;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #141517;
  height: 55px;
  padding: 0 20px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

header a {
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: none;
  margin-top: 3px;
}

#search {
  position: relative;
}

#searchInput {
  border: none;
  background-color: #343434;
  padding: 0.5rem 0.7rem;
  border-radius: 4px;
  min-width: 300px;
  color: white;
  font-size: 100%;
}

#searchInput:focus {
  outline: none;
}

#searchBtn {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  width: 24px;
  height: 24px;
  border: none;
  background: url("https://api.iconify.design/material-symbols/search.svg?color=%2384868d&width=24&height=24") no-repeat
    center center / contain;
}

.container {
  max-width: 1280px;
  margin: 2rem auto;
  width: 100%;
}

main {
  padding: 0 20px;
}

#movies {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.8rem;
  row-gap: 2rem;
  justify-content: center;
  font-size: 1.3rem;
}

#movies .card {
  position: relative;
  width: 300px;
  height: 169px;
  border-radius: 5px;
  overflow: hidden;
  background: #f9f9f9;
}

#movies .card .over .title {
  font-family: "GmarketSansMedium";
  font-weight: 100;
}

#movies > div:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  z-index: 1;
  cursor: pointer;
}

#movies > div img {
  position: relative;
  width: 100%;
  height: auto;
}

#movies > div .over {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
}

#movies > div .title {
  font-weight: bold;
}

.pagination {
  text-align: center;
  margin: 2rem 0;
}

.page {
  padding: 0.7rem 1rem;
  min-width: 100px;
  font-size: 100%;
  border: 1px solid white;
  border-radius: 6px;
  background-color: black;
  color: white;
}

footer {
  margin: 2rem 0;
  color: #84868d;
  font-size: 80%;
}

/* 디테일 */
.detail_movie_title {
  font-weight: bold;
  font-size: 2rem;
}

.container > #moviePost {
  margin-top: 20px;
}

.detail_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5rem;
  margin-bottom: 5rem;
}

.detail_section > .leftSide {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  padding-left: 40px;
}

.leftSide > .detail_comment {
  font-family: "LINESeedKR-Bd";
  display: flex;
  flex-direction: column;
}

.leftSide > .detail_movie_vote {
  margin-top: 40px;
  font-size: 22px;
}

.detail_section > .rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0 50px 0;
  font-size: 1.3rem;
}

.rightSide > .detail_movie_appreciate {
  display: flex;
  scroll-behavior: smooth;
  justify-content: flex-end;
  margin-top: 80px;
}

.rightSide > .detail_movie_appreciate:hover {
  color: rgba(255, 0, 0, 0.692);
  transition: all 0.5s;
}

.detail_comment {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5rem;
}

.detail_comment_title {
  font-size: 22px;
}

.detail_comment_review_wrap {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
}

.detail_wrap_comment_idPwd {
  display: flex;
  gap: 0.5rem;
}

#detailCommentReviewWrap i {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

#detailReviewUserId,
#detailReviewUserPwd {
  font-size: 100%;
  width: 210px;
  height: 35px;
  border-radius: 4px;
  padding: 0.5rem;
  border: none;
  color: #fff;
}

#detailReviewUserId {
  background: url("https://api.iconify.design/fa6-regular/address-card.svg?color=white") no-repeat left 0.5rem center /
    contain;
  background-size: 20px 20px;
  background-color: #343434;
  padding-left: 2.3rem;
}

#detailReviewUserPwd {
  background: url("https://api.iconify.design/fa6-solid/lock.svg?color=white") no-repeat left 0.5rem center / contain;
  background-size: 18px 18px;
  background-color: #343434;
  padding-left: 2.3rem;
}

#detailReviewContent {
  width: 100%;
  min-height: 100px;
  font-size: 100%;
}

.detail_review_userId {
  flex-direction: column;
  background-color: #343434;
  color: white;
  border: none;
}

.detail_review_userPwd {
  background-color: #343434;
  color: white;
  border: none;
}

.detail_review_text {
  border: none;
  background-color: #343434;
  padding: 0.5rem 0.7rem;
  border-radius: 4px;
  min-width: 300px;
  color: white;
  font-size: 100%;
  resize: none;
}

#detailReviewStar {
  color: white;
  background: #343434;
  padding: 4px;
  border-radius: 4px;
  font-size: 100%;
}

.detail_wrap_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#detailReviewResetBtn {
  border-radius: 5px;
  padding: 10px;
  border: none;
  background-color: #343434;
  color: white;
  font-size: 100%;
  cursor: pointer;
}

#detailReviewSubmitBtn {
  border-radius: 5px;
  padding: 10px;
  border: none;
  background-color: #343434;
  color: white;
  font-size: 100%;
  cursor: pointer;
}

.detail_comment_list_img {
  /* background-color: #84868d; */
  margin-top: 14px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.detail_comment_list_img > .starAndBtn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#deleteReview {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #343434;
  color: white;
  font-size: 100%;
}

.genre {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}

.genre li {
  border-radius: 5px;
  padding: 0.1rem 0.3rem;
}

/* crime */
.crime {
  background-color: var(--movie-genreCrim-color);
}

.comedy {
  background-color: var(--movie-genreComedy-color);
}

.animation {
  background-color: var(--movie-genreAnimation-color);
}

.drama {
  background-color: var(--movie-genreDrama-color);
}

.family {
  background-color: var(--movie-genreFamily-color);
}

.fantasy {
  background-color: var(--movie-genreFantasy-color);
}

.thriller {
  background-color: var(--movie-genreThriller-color);
}

.action {
  background-color: var(--movie-genreAction-color);
}

.romance {
  background-color: var(--movie-genreRomance-color);
}

.history {
  background-color: aqua;
}

.war {
  background-color: cadetblue;
}

.horror {
  background-color: var(--movie-genreHorror-color);
}

.mystery {
  background-color: var(--movie-genreMystery-color);
}
